/* bstooltip.css */

.ck.ck-balloon-panel.ck-balloon-panel_visible {
  box-shadow: 0px 0px 100px black;
}

.ck.ck-abbr-form {
  padding: var(--ck-spacing-large) !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: var(--ck-spacing-standard);
}

ck.ck-abbr-form .ck-input {
  margin: 0 10px;
}

.ck.ck-abbr-form .ck.ck-labeled-field-view:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.ck.ck-abbr-form .ck.ck-labeled-field-view:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.ck.ck-abbr-form .ck-button:nth-of-type(1) {
  grid-area: 3 / 1 / 4 / 2;
}

.ck.ck-abbr-form .ck-button:nth-of-type(2) {
  grid-area: 3 / 2 / 4 / 3;
}
